.question-category-selector {
  display: flex;
  flex-direction: row;
  padding: 0 1em;
  width: min-content;
  margin: 0 auto;
  padding-bottom: 1em;
  margin-bottom: 2em;
  border-bottom: 1px solid black;
}

.question-category {
  margin: 0 1em;
  padding: 1em;
  cursor: pointer;
  background: #f7f7f7;
  border-radius: 0.8em;
}

.active-category {
  background: #31b6df;
  color: white;
  cursor: pointer;
}
